<h1>App Component</h1>

<div>
  <a [routerLink]="[ '/tipo-produto/create' ]">[Form] Tipo produto</a>
</div>
<div>
  <a [routerLink]="[ '/tipo-produto' ]">[List] Tipo produto</a>
</div>
<div>
  <a [routerLink]="[ '/input' ]">[Input] Decorator</a>
</div>
<div>
    <a [routerLink]="[ '/reactive' ]">[Forms] Reactive forms</a>
</div>
<div>
    <a [routerLink]="[ '/tipo-pessoa/listar' ]">[List] Tipo pessoa</a>
</div>
<div>
  <a [routerLink]="[ '/tipo-pessoa/form' ]">[Form] Tipo pessoa</a>
</div>
<div>
  <a [routerLink]="[ '/tipo-livro/listar' ]">LISTA DE LIVROS</a>
</div>
<div>
  <a [routerLink]="[ '/tipo-livro/form' ]">CADASTRO E ALTERACAO DE LIVROS</a>
</div>


<router-outlet></router-outlet>
